.bmg{

    height: 1158px;
}

.home{
    float: left;
    height: 57px;
    padding-left: 10px;
}
.img-home {position: absolute;top: -60px;z-index: 99;height: 62px;cursor: pointer; cursor: hand;}
.wrap{padding-top: 20px; height: 800px;}
.icon{
    width: 550px;
    height: 380px;
}
#dialog-overlay {

    /* set it to fill the whil screen */
    width:100%;
    height:100%;

    /* transparency for different browsers */
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    background:#000;

    /* make sure it appear behind the dialog box but above everything else */
    position:absolute;
    top:0; left:0;
    z-index:3000;

    /* hide it by default */
    display:none;
}

#dialog-box {

    /* css3 drop shadow */
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    /* css3 border radius */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    background:#e6e6e6;
    /* styling of the dialog box, i have a fixed dimension for this demo */
    width:950px;


    /* make sure it has the highest z-index */
    position:absolute;
    top: 10% !important;
    z-index:5000;

    /* hide it by default */
    display:none;
    text-align: center;

}

#dialog-box .dialog-content {
    /* style the content */
    max-height: 1700px;
    overflow: hidden;
    text-align:left;
    padding:10px;
    margin:13px;
    color:#666;
    font-family:arial;
    font-size:11px;
    //float: left;
    width: 924px;
}

a.button {
    /* styles for button */
    position: absolute !important;
    right: 5px;
    top: 0;
    margin:10px auto 0 auto;
    text-align:center;
    display: block;
    width:100px;
    padding:  10px ;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    font-size: 30px;

    /* button color */
    background-color: #b92c28;

    /* css3 implementation :) */
    /* rounded corner */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    /* drop shadow */
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);

    /* text shaow */
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;

}

a.button:hover {
    /*background-color: #c33100;  */
}

/* extra styling */
#dialog-box #dialog-message{
    padding:0px;
    text-align: center;
}
#dialog-box .dialog-content p {
    text-align: center;
    font-weight:700; margin:0;
    font-size: 39px;
}

#dialog-box .dialog-content ul {
    margin:10px 0 10px 20px;
    padding:0;
    height:50px;
}

#change-us{color: rgb(255, 255, 255);background: #008a97;padding: 0px 10px;border-radius: 5px;}

p{

    margin: 0 0 0;
}
.nav-tabs{
    float: right;
    border: none;
    margin-top: 0px;
    position: absolute;
    right: 10px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #da662e;
    border: 1px solid #da662e;
}
.nav-tabs>li>a {
    color: black;
    font-size: 40px;
}
.tab-content{
    border: 15px solid #da662e;
    margin: 15px;
    margin-top: 100px;
}
.map-content{
    width: 1060px;
    margin: 0 auto;
    background-color: #da662e;
    min-height: 800px !important;
    padding: 20px 0;
}
.main-content {
    height: 1640px;
    overflow: hidden;
    color: black;
}
.map-content ul{
    list-style-type: none;    height: 393px;
    padding-left: 5px;
}
.map-content ul li{
    font-size: 37px;color: #fff;
    margin-bottom: 3px;    line-height: 60px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,102,0,1);
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}
.carousel-inner {
}
.qr-code{
    position: absolute;
    top: 450px;
    left: 40px;
    font-size: 26px;
    width: 500px;
}
.qr-code span{
    position: absolute;
    top: 37px;
    left: 115px;
}